.DS_Store
**/.idea
**/test/*.out
**/.vscode
__pycache__/
**/pkg
**/*_server/*_server
**/*_server/log/
**/*_server/logs/
**/*_server/data/log/
**/**/*.test
**/**/go_build_*
**/**lijian**
**/*.exe
**/bin/run
**/bin/db
**/bin/redis
**/bin/etcd
**/bin/*.toml
**/devops/install/docker/run
**/devops/install/docker/db
**/devops/install/docker/redis
**/devops/install/docker/etcd
**/devops/install/docker/zinc
**/tool/xlsx/output
**/tool/xlsx/xlsx
**/tool/xlsx/md5.csv
**/tool/xlsx/**.xlsx
**/tool/ta_sync/ta_sync
**/tool/gptjson/gpt
**/pff_assets/homestead/map/*.meta
**/pff_assets/homestead/map/*.front.*
**/*.exe~
**/tool/pressureTest/pressureTest
**/tool/alerthook/alerthook
**/*.log
**/tdlog*
**/runs_zyy_use_dev_sql.bat
**/tool/pff_client/client1
**/tool/envoy_xds/envoy_xds
**/tool/crash_monitor/crash_monitor
**/tool/test_grpc/test_grpc
**/tool/sync_sys_file/sync_sys_file
**/tool/sync_preset_file/sync_preset_file
**/tool/sync_ab_file/sync_ab_file
**/*_server/pprof/
**/*_server/pprof/*.port
**/tool/simple_websocket_server/server
!rebuild_all_parallel.exe
**/tool/logbeats/logbeat/logbeat
**/tool/logbeats/logbeat/data
**/tool/koala_robot/koala_robot
**/genagent_server/tiktoken/ 
goserver/bin/runs_eenv_yulei_use_dev_sql.bat
goserver/bin/runs_meng*_use_dev_sql.bat
goserver/proto/make_self.sh
goserver/bin/runs_self_use_dev_sql.bat
/goserver/bin/rebuild_all_parallel.exe
goserver/src/search_server/tool/tool
/.run/
**/koala_robot_obsolete/koala_robot_obsolete
goserver/src/tool/koala_robot_enduring/koala_robot_enduring
goserver/src/tool/agent_tools/agent_tools
goserver/src/tool/pika_export/pikaexport
goserver/src/tool/pika_import/pikaimport
goserver/share/pb
goserver/src/tool/splitop/splitop
goserver/src/tool/agent_tools/agent_tools
/goserver/src/payment_server/vendor/
**/goserver/src/tool/goops/goops
goserver/src/tool/git_check_merge/checkmerge
